body{
    background: #ebefff;
}

.logo{
    position: absolute;
    width: 31px;
    height: 48px;
    left: 84px;
    top: 40px;
}

#input{
    position: absolute;
    width: 55%;
    height: 50%;
    left: 10%;
    top: 20%;
    resize: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border: none;

    color: #072851;
    background: #ebefff;
}

#box{
    position: absolute;
    width: 20%;
    height: 74%;
    left: 1400px;
    top: 40px;

    background: #FFFFFF;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

    padding: 50px 35px 5%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;

    color: #495057;

    text-align: left;
}

.pri-text{
    position: absolute;
    width: 336px;
    height: 58px;
    left: 8%;
    top: 57%;

    font-size: 24px;

    color: #343A40;

    text-align: center;
}

.sub-text{
    position: absolute;
    width: 336px;
    height: 58px;
    left: 8%;
    top: 66%;

    font-size: 16px;

    text-align: center;
}

.search{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 13%;
    top: 20%;
}

#copiar{
    position: absolute;
    left: 14%;
    top: 85%;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #FFFFFF;
    border-radius: 24px;
    border-color: #0A3871;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

    color: #0A3871;
}

#copiar:hover{
    cursor: pointer;

    background-color: #475361;

    color: #FFFFFF;

    transition: 0.5s;
}

.legend{
    position: absolute;
    width: 205px;
    height: 18px;
    left: 11%;
    top: 80%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    color: #495057;

    opacity: 0.8;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.encriptar{
    position: absolute;
    left: 10%;
    top: 85%;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #0A3871;
    border-radius: 24px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

    color: #ebefff;
}

.encriptar:hover{
    cursor: pointer;

    transform: scale(1.05);

    box-shadow: 0 4px 20px #0f498f;
}

.desencriptar{
    position: absolute;
    left: 30%;
    top: 85%;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #D8DFE8;
    border-radius: 24px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

    color: #0A3871;
}

.desencriptar:hover{
    cursor: pointer;

    transform: scale(1.05);

    box-shadow: 0 4px 20px #a8aeb6;
}